<h5>文件树</h5>
<div class="ibox-content">
    <div id="using_json"></div>
</div>
<script>
    $(document).ready(function () {
        loadTree();
    });

    function loadTree() {
        $.get( "/filetree", function( data ) {
            data = JSON.parse(data);

            $('#using_json').jstree({
                'core': {
                    'data': data
                },
                'plugins': ['types', 'dnd'],
                'types': {
                    'folder': {
                        'icon': 'fa fa-folder'
                    },
                    'code': {
                        'icon': 'fa fa-file-code-o'
                    },
                    'code': {
                        'icon': 'fa fa-file-code-o'
                    },
                    'img': {
                        'icon': 'fa fa-file-image-o'
                    },
                    'text': {
                        'icon': 'fa fa-file-text-o'
                    },
                    'music': {
                        'icon': 'fa fa-music'
                    },
                    'file': {
                        'icon': 'fa fa-file'
                    },
                    'archive': {
                        'icon': 'fa fa-file-archive-o'
                    },
                    'video': {
                        'icon': 'fa fa-video-camera'
                    }
                }
            });

            $('#using_json').bind("changed.jstree", function (e, data) {
                var nodeData = data.node.original;
                console.log(nodeData)
                if(nodeData.type == 'folder') {
                    $('#list').load('/filelist/all');
                } else if(nodeData.type == 'img') {
                    $('#list').load('/preview/picture', {path: nodeData.path}, function() {

                    });
                } else if(nodeData.type == 'text') {
                    $('#list').load('/preview/simtext', {path: nodeData.path}, function() {

                    });
                } else {

                }
            });
        });
    }

</script>