<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>文件上传</h5>
                <div class="ibox-tools">
                    <a id="clear-dropzon" href="#">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                    <a id="refresh-list" href="#">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form id="my-awesome-dropzone" class="dropzone" action="/uploadfiles" method="post">
                    <div class="dropzone-previews"></div>
                    <!--<button type="submit" class="btn btn-primary pull-right">提交</button>-->
                </form>
            </div>
        </div>
    </div>
</div>
